#!/bin/sh
### BEGIN INIT INFO
# Provides:          Housecontrol
# Required-Start:    $all
# Required-Stop:     $all
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: HouseControl service
# Description:      Daemon to listen for Housecontrol commands
### END INIT INFO

SERVICE_NAME=housecontrol
PID_PATH_NAME=/tmp/housecontrol.pid
CONFIG=gigabyte
USER=lawrie
HOME=/home/$USER
DIR=`pwd`

case $1 in
    start)
        echo "Starting $SERVICE_NAME ..."
        if [ ! -f $PID_PATH_NAME ]; then
            cd $HOME/HouseControl/bin
            su $USER -c "./housecontrol.sh $CONFIG $PID_PATH_NAME"
            echo "$SERVICE_NAME started ..."
        else
            echo "$SERVICE_NAME is already running ..."
        fi
    ;;
    stop)
        if [ -f $PID_PATH_NAME ]; then
            PID=`cat $PID_PATH_NAME`
            echo "$SERVICE_NAME ($PID) stopping ..."
            kill $PID
            echo "$SERVICE_NAME stopped ..."
            rm $PID_PATH_NAME
        else
            echo "$SERVICE_NAME is not running ..."
        fi
    ;;
    restart)
        if [ -f $PID_PATH_NAME ]; then
            PID=$(cat $PID_PATH_NAME);
            echo "$SERVICE_NAME stopping ...";
            kill $PID;
            echo "$SERVICE_NAME stopped ...";
            rm $PID_PATH_NAME
            echo "$SERVICE_NAME starting ..."
            cd $HOME/HouseControl/bin
            su $USER -c "./housecontrol.sh $CONFIG $PID_PATH_NAME"
            echo "$SERVICE_NAME started ..."
        else
            echo "$SERVICE_NAME is not running ..."
        fi
    ;;
esac 
cd $DIR
